<!--
HEADER
     arg/web/angular/src/app/tabs/data-options/data-options.component.html
               Automatic Report Generator (ARG) v. 1.0

 Copyright 2020 National Technology & Engineering Solutions of Sandia, LLC
 (NTESS). Under the terms of Contract DE-NA0003525 with NTESS, the U.S.
 Government retains certain rights in this software.

 Redistribution and use in source and binary forms, with or without
 modification, are permitted provided that the following conditions are met:

 * Redistributions of source code must retain the above copyright notice,
   this list of conditions and the following disclaimer.

 * Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

 * Neither the name of the copyright holder nor the names of its
   contributors may be used to endorse or promote products derived from this
   software without specific prior written permission.

 THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
 LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUENT OF
 SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 POSSIBILITY OF SUCH DAMAGE.

 Questions? Visit gitlab.com/AutomaticReportGenerator/arg

HEADER
!-->
<form [formGroup]="form">
  <h5>Model</h5>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-3 pt-0">Model directory</legend>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="model-dir" formControlName="DataDirectory">
      </div>
    </div>
  </fieldset>
  <h5>CAD Parameters</h5>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-3 pt-0">Geometry Root</legend>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="geometry-root-file" formControlName="GeometryRoot">
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-3 pt-0">Reported CAD Metadata</legend>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="ReportedCadMetaData">
      </div>
    </div>
  </fieldset>
  <h5>FEM Parameters</h5>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-3 pt-0">Input Deck</legend>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="input-deck-file" formControlName="DeckRoot">
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-3 pt-0">Ignored Blocks</legend>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="ignored-block" formControlName="IgnoredBlockKeys">
      </div>
    </div>
  </fieldset>

  <h5>Mappings</h5>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <div id="table" class="table-editable">
          <figure>
            <figcaption>
              <label>CAD to FEM</label>
            </figcaption>
            <table class="table table-bordered">
              <thead class="bg-primary text-white">
                <tr>
                  <th scope="col">CAD Parts</th>
                  <th scope="col">FEM Blocks</th>
                  <th scope="col">Factors</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cadToElt of this.form.value.Mappings.CAD_to_FEM.elements | keyvalue">
                  <td class=text-nowrap contenteditable="true" (blur)="updateCol1(this.TABLESMAPPING.CADToFEM, cadToElt.key, $event)" [innerHTML]="cadToElt.key"></td>
                  <td contenteditable="true" (blur)="updateCol2(this.TABLESMAPPING.CADToFEM, cadToElt.key, $event)" [innerHTML]="cadToElt.value.join(';')"></td>
                  <td contenteditable="true" (blur)="updateCol3(this.TABLESMAPPING.CADToFEM, cadToElt.key, $event)" [innerHTML]="this.form.value.Mappings.CAD_to_FEM.factors[cadToElt.key]"></td>
                  <td>
                    <button type="button" class="btn btn-success" (click)="removeElt(this.TABLESMAPPING.CADToFEM, cadToElt.key)"><em class="fa fa-minus"></em>&nbsp;</button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4" class="text-right">
                  <button type="button" class="btn btn-success" (click)="addElt(this.TABLESMAPPING.CADToFEM)"><em class="fa fa-plus"></em>&nbsp;Add</button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </figure>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col">
        <figure>
          <figcaption>
            <label>FEM to CAD</label>
          </figcaption>
          <table class="table table-bordered">
            <caption></caption>
            <thead class="bg-primary text-white">
              <tr>
                <th scope="col">FEM Blocks</th>
                <th scope="col">CAD Parts</th>
                <th scope="col">Factors</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let femToCadElt of this.form.value.Mappings.FEM_to_CAD.elements | keyvalue">
              <td class=text-nowrap contenteditable="true" (blur)="updateCol1(this.TABLESMAPPING.FEMToCAD, femToCadElt.key, $event)">{{ femToCadElt.key }} </td>
              <td contenteditable="true" (blur)="updateCol2(this.TABLESMAPPING.FEMToCAD, femToCadElt.key, $event)">{{ femToCadElt.value.join(';') }} </td>
              <td contenteditable="true" (blur)="updateCol3(this.TABLESMAPPING.FEMToCAD, femToCadElt.key, $event)">{{ this.form.value.Mappings.FEM_to_CAD.factors[femToCadElt.key] }} </td>
              <td>
                <button type="button" class="btn btn-success" (click)="removeElt(this.TABLESMAPPING.FEMToCAD, femToCadElt.key)"><em class="fa fa-minus"></em>&nbsp;</button>
              </td>
            </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4" class="text-right">
                  <button type="button" class="btn btn-success"  (click)="addElt(this.TABLESMAPPING.FEMToCAD)"><em class="fa fa-plus"></em>&nbsp;Add</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </figure>
      </div>
    </div>
  </div>
</form>
