<!--
HEADER
../web/angular/src/app/tabs/report-information/report-information.component.html
               Automatic Report Generator (ARG) v. 1.0

 Copyright 2020 National Technology & Engineering Solutions of Sandia, LLC
 (NTESS). Under the terms of Contract DE-NA0003525 with NTESS, the U.S.
 Government retains certain rights in this software.

 Redistribution and use in source and binary forms, with or without
 modification, are permitted provided that the following conditions are met:

 * Redistributions of source code must retain the above copyright notice,
   this list of conditions and the following disclaimer.

 * Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

 * Neither the name of the copyright holder nor the names of its
   contributors may be used to endorse or promote products derived from this
   software without specific prior written permission.

 THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
 LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUENT OF
 SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 POSSIBILITY OF SUCH DAMAGE.

 Questions? Visit gitlab.com/AutomaticReportGenerator/arg

HEADER
!-->
  <form [formGroup]="form">
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-3 pt-0">Backend</legend>
        <div class="col-sm-9">
          <div class="form-check">
            <input class="form-check-input" type="radio" id="backend_latex" value="LaTeX" formControlName="BackendType" />
            <label class="form-check-label" for="backend_latex">
              LaTeX
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="backend_word" value="Word" formControlName="BackendType" />
            <label class="form-check-label" for="backend_word">
              Word
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-3 pt-0">Report type</legend>
        <div class="col-sm-9">
          <div class="form-check">
            <input class="form-check-input" type="radio" id="report_type_report" value="Report" formControlName="ReportType" />
            <label class="form-check-label" for="report_type_report">
              Report
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-3 pt-0">Mutable file</legend>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="mutable-file" name="mutable_file" formControlName="Mutables" />
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-3 pt-0">Structure file</legend>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="structure-file" name="structure_file" formControlName="StructureFile" />
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-3 pt-0">Analyst Authored Results Section</legend>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="analyst-authored-result-section-file" name="analyst_authored_results_section_file" formControlName="StructureEnd" />
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-3 pt-0">Artifact file</legend>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="artifact-file" name="artifact_file" formControlName="ArtifactFile" />
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-3 pt-0">Output folder</legend>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="output-folder" name="output_folder" formControlName="OutputDir" />
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-3 pt-0">Verbosity</legend>
        <div class="col-sm-9">
          <div class="form-check">
            <input class="form-check-input" type="radio" id="verbosity_type_terse" value="-1" formControlName="Verbosity" />
            <label class="form-check-label" for="verbosity_type_terse">
              Terse
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="verbosity_type_default" value="0" formControlName="Verbosity" />
            <label class="form-check-label" for="verbosity_type_default">
              Default
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="verbosity_type_verbose" value="1" formControlName="Verbosity" />
            <label class="form-check-label" for="verbosity_type_verbose">
              Verbose
            </label>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
