# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Flask
instance/

# static html folders
# hosting files built from the angular (front-end) project
static/
templates/index.html
